#header{
    background-image: url(zomatobg.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 400px;
    background-size: 100% 500px;
}

#login{
    background-color:transparent;
    margin-left: 75%;
    font-size: 20px;
    border: none;
    color: white;
    font: normal normal medium 16px/25px Poppins;
    
}

#button1{
    background-color:transparent;
    border: 2px solid white;
    padding: 8px;
    border-radius: 5%;
    font-size: 20px;
    color: white;
    margin: 1%;
    font: normal normal medium 16px/25px Poppins;
}

#logo{
    width: 130px;
    height: 130px;
    background-color: white;
    border-radius: 80px;
    margin-left: 43%;
    position: absolute;
    opacity: 99%;
    margin-top: 1%;
   

}
#logo>span{
    font-size: 85px;
    color:red;
    margin-left: 25%;
    margin-top: 0%;
    
    position: absolute;
}

#word>p{
    font: normal normal 600 36px/55px Poppins;
    color: #FFFFFF;
    margin-top: 160px;
    margin-left: 435px;
    width: 758px;
    height: 51px;
    opacity: 1;

}

#dropdown{

    margin-left: 490px;
    width: 245px;
    height: 60px;
    display: inline;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    padding: 10px;
    
}

#search1{
    width: 185px;
    padding: 15px;
    margin-right: 13px;
    color: gray;
    font-size: 13px;
    font:bold;
    border: 1px solid white;
}
#search2{

    width: 345px;
    padding: 15px;
    font-size: 16px;
    color: gray;
    font: bold;
    border: 1px solid white;

}

/* -----------------------------search------------------------ */

#text{

    margin-top: 30px;
    margin-left: 90px;
    width: 239px;
    height: 43px;
    color: #192F60;
    font: normal normal bold 30px/46px Poppins;
    letter-spacing: 0px;
}

#text2{
    margin-left: 90px;
    color: #8C96AB;
    font: normal normal bold 30px/46px Poppins;
    width: 331px;
    font-size: 20px;
    letter-spacing: 0px;

}
.media{
    width: 400px;
    margin-top: 20px;
    margin-left: 113px;
    border: 1px solid grey;
}
.mr-3{
    width: 160px;
    height: 140px;
}
.mt-0{
    color: #192F60;
    font: normal normal 600 18px/27px Poppins;
    margin-top:10px;
    margin-left: 14px;
    width: 86px;
    height: 25px;
    padding: 15px;
}

.p{
    color: #8C96AB;
    font: normal normal normal 14px/21px Poppins;
    margin-top: 10px;
    margin-left: 12px;
    width: 188px;
    height: 62px;
    padding: 15px;
}
